Flask==3.0.3
Flask-Cors==4.0.0
requests==2.32.3
numpy==1.26.4
faiss-cpu==1.8.0.post1
sentence-transformers==2.7.0
PyPDF2==3.0.1
torch==2.3.1
transformers==4.42.4
tqdm==4.66.4
typing-extensions==4.12.2
urllib3==2.2.2